/******* RESPONSIVE  *********/
@media (max-width: 1440px) {

	.carousel-control-next, .carousel-control-prev {
		width: 73px !important;
		opacity: .65 !important;
	}

	a.carousel-control-prev.slick-control-prev.slick-arrow {
		left: 730px !important;
	}

	.client-says {
		min-height: 410px;
		z-index: 0;
	}

	img.logo-header-slide {
		width: 900px !important;
	}

	.btn {
		font-weight: 500;
		padding: 10px 38px;
		font-size: 12px;

	}

	.certfications-elem {
		margin-top: -10px;
		margin-bottom: 10px;
	}

	.content-product-img:after {
		display: inline-block;
		height: 400px;
		width: 215px;
		margin-right: 5px;
		content: "";
		background: url(../images/semilla-right.png) no-repeat 0 0;
		background-size: 223px 400px;
		position: absolute;
		right: -23%;
		top: -14%;
		z-index: -1;
	}

	.about-us-right-img:before {
		display: inline-block;
		height: 400px;
		width: 200px;
		margin-right: 5px;
		content: "";
		background: url(../images/about-us-polvo-right.png) no-repeat 0 0;
		background-size: 240px 400px;
		position: absolute;
		right: -27%;
		top: -59%;
		z-index: -1;
	}
}

@media (max-width: 1200px) {

	.about-us-right-img:before {
		display: inline-block;
		height: 300px;
		width: 164px;
		margin-right: 5px;
		content: "";
		background: url(../images/about-us-polvo-right.png) no-repeat 0 0;
		background-size: 200px 300px;
		position: absolute;
		right: -6%;
		top: -51%;
		z-index: -1;
	}

	.text-header h3 {
		font-size: 70px;
		color: white;
		font-weight: 300;
		line-height: .9;
	}

	.content-product-img:after {
		display: inline-block;
		height: 300px;
		width: 128px;
		margin-right: 23px;
		content: "";
		background: url(../images/semilla-right.png) no-repeat 0 0;
		background-size: 223px 300px;
		position: absolute;
		right: -8%;
		top: -14%;
		z-index: -1;
	}

	.btn {
		padding: 12px 40px;
		font-size: 12px;
	}

	.col-md-4.text-white img {
		width: 100px !important;
		padding-bottom: 20px;
	}

	.cat-gallery {
		min-height: 15vw;
		height: 277px;
		background-color: #008145;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		position: relative;
		padding: 0px;
	}

	.container-404 {
		padding-top: 30%;
	}

	.message h3 {
		color: white;
		z-index: 20;
		font-size: 50px;
		max-width: 69%;
		line-height: 1;
	}

	.content-principal-home {
		margin-top: -356px;
	}

	img.img-brand-about-us.pull-right {
		width: 231%;
		left: 9%;
		position: relative;
		top: 2%;
	}

}


@media (max-width: 1024px) {

	.carousel-indicators {
		left: 60%;
	}

	.number-step:nth-child(n+1):nth-child(-n+4) {
		margin-left: 11%;
		margin-right: 12%;
	}

	#carousel-selector-2::before {
		display: block;
		content: "";
		width: 174px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 19%;
		left: 161px;
		pointer-events: none;
	}

	#carousel-selector-3::before {
		display: block;
		content: "";
		width: 170px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 19%;
		left: 375px;
		pointer-events: none;
	}

	#carousel-selector-4::before {
		display: block;
		content: "";
		width: 172px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 19%;
		left: 585px;
		pointer-events: none;
	}

	.carousel-control-next, .carousel-control-prev {
		width: 30px !important;
		opacity: .65 !important;
	}

	.text-header h3 {
		font-size: 53px;
		color: white;
		font-weight: 300;
		line-height: .9;
	}

	.content-principal-home {
		margin-top: -310px;
	}

	.img-header-private:after {
		display: inline-block;
		height: 300px;
		width: 300px;
		margin-right: 5px;
		content: "";
		background: url(../images/label-header-2.png) no-repeat 0 0;
		background-size: 300px 300px;
		position: absolute;
		right: 14%;
		top: -167%;
		z-index: 1030;
	}

	.img-header-about:after {
		display: inline-block;
		height: 300px;
		width: 300px;
		margin-right: 5px;
		content: "";
		background: url(../images/polvo-header.png) no-repeat 0 0;
		background-size: 300px 300px;
		position: absolute;
		right: 16%;
		top: -125%;
		z-index: 1030;
	}

	.img-header-contact:after {
		display: inline-block;
		height: 300px;
		width: 300px;
		margin-right: 5px;
		content: "";
		background: url(../images/label-header-3.png) no-repeat 0 0;
		background-size: 300px 300px;
		position: absolute;
		right: 57%;
		top: -289%;
		z-index: 1030;
	}

	a.carousel-control-prev.slick-control-prev.slick-arrow {
		left: 705px !important;
	}

	.cat-gallery {
		min-height: 15vw;
		height: 277px;
		background-color: #008145;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		position: relative;
		padding: 0px;
	}

	a.carousel-control-prev.slick-control-prev.slick-arrow {
		left: 580px !important;
	}

	a.carousel-control-prev.slick-control-next.slick-arrow {
		right: 150px !important;
	}

	.img-slider-top {
		width: 100%;
		max-width: 700px !important;
	}

	.logo-header-slide {
		width: 100%;
		max-width: 700px;
	}

	.carousel-inner {
		max-height: 550px !important;
	}

	.cat-gallery h3 {
		width: 120px;
		font-size: 19px;
		font-weight: 800;
	}

	img.img-certificaciones-home {
		max-width: 80%;
	}

	.col-10.clients-say.slick-initialized.slick-slider {
		height: 200px;
	}

	.client-says.container.py-5.mt-5 {
		min-height: 600px;
	}

	.container-products {
		width: 95vw;
		margin: 0 auto;
	}

	.navigation-clean.navbar .navbar-nav .nav-link {
		padding-left: 12px;
		padding-right: 12px;
	}

	.col-125 {
		width: 25%;
	}

	.container-404 {
		padding-top: 36%;
	}

	.message h3 {
		color: white;
		z-index: 20;
		font-size: 50px;
		max-width: 69%;
		line-height: 1;
	}

	a.carousel-control-next.slick-control-next.slick-arrow {
		padding-right: 10%;
	}

	img.p-5.img-private-label {
		position: absolute;
		top: -48px;
		width: 95%;
	}

	img.img-brand-about-us.pull-right {
		width: 240%;
		left: 25%;
		position: relative;
		top: 20%;
	}

}

@media (max-width: 768px) {

	.content-p.white.col-10 {
		min-height: 160px;
	}

	.carousel-indicators {
		left: 80%;
		bottom: 77px;
	}

	.container-slider {
		margin-top: 17%;
	}

	#carousel-selector-2::before {
		display: block;
		content: "";
		width: 128px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 18%;
		left: 163px;
		pointer-events: none;
	}

	#carousel-selector-3::before {
		display: block;
		content: "";
		width: 128px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 18%;
		left: 329px;
		pointer-events: none;
	}

	#carousel-selector-4::before {
		display: block;
		content: "";
		width: 128px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 18%;
		left: 497px;
		pointer-events: none;
	}

	.content-product-img:after {
		display: contents;
		height: 300px;
		width: 128px;
		margin-right: 36px;
		content: "";
		background: url(../images/semilla-right.png) no-repeat 0 0;
		background-size: 223px 300px;
		position: absolute;
		right: -14%;
		top: -14%;
		z-index: -1;
	}

	.content-product-img:before {
		display: inline-block;
		height: 400px;
		width: 400px;
		margin-right: 5px;
		content: "";
		background: url(../images/polvo-left.png) no-repeat 0 0;
		background-size: 400px 400px;
		position: absolute;
		left: -145%;
		top: -40%;
		z-index: -1;
	}

	img.p-5.img-private-label {
		position: absolute;
		top: -12px;
		width: 492px;
		left: -55px;
	}


	.last-news-btn {

		font-size: 14px;
		font-weight: bold;
		border: solid white 2px;
		width: 136px;
		margin-top: 17px;
		padding: 8px 31px !important;
	}

	.last-news-description {
		position: relative;
		z-index: 2;
		color: white;
		font-weight: lighter;
		font-size: 14px;
		margin-top: -7%;
		width: 84%;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		transition: 0.3s;
		line-height: 1.4;
	}

	.last-news-title {
		position: relative;
		z-index: 2;
		color: white;
		margin-top: 196%;
		font-weight: 800;
		font-size: 24px;
		width: 67%;
		margin-left: 38px;
		margin-right: auto;
		line-height: 1;
		transition: 0.3s;
	}

	.text-header h3 {
		font-size: 54px;
		color: white;
		font-weight: 300;
		line-height: .9;
	}

	.content-principal-home {
		margin-top: -380px;
	}

	.clients-say {
		min-height: 250px !important;
	}

	.certfications-elem {
		margin-top: 30px;
		margin-bottom: 22px;
	}

	.zoom:hover,
	.zoom:focus,
	.zoom:active {
		display: block;
		transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
	}

	.container-404 {
		padding-top: 50%;
	}


	.col-md-4.text-white {
		text-align: center;
	}

	.navigation-clean {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.btn-primary {
		padding: 16px !important;
	}

	.col-12.newsletters h2 {
		font-size: 60px !important;
	}

	.header-bg h2.extrabold.font-100 {
		font-size: 80px !important;
	}

	.header-bg h3.light.font-40 {
		font-size: 30px !important;
	}

	img.logo-header-slide {
		max-width: 500px;
		padding-top: 76px;
	}

	.carousel-item.active {
		min-height: 500px !important;
	}

	a.carousel-control-prev.slick-control-prev.slick-arrow {
		left: 415px !important;
	}

	.col-10.clients-say.slick-initialized.slick-slider {
		height: 350px;
	}

	.container-logo-footer {
		text-align: center;
	}

	.box-category h5 {
		position: relative;
		padding: 2%;
		bottom: -65%;
		color: white;
		font-size: 20px;
		font-weight: 700;
	}

	.img-header-private:after {
		display: inline-block;
		height: 300px;
		width: 300px;
		margin-right: 5px;
		content: "";
		background: url(../images/label-header-2.png) no-repeat 0 0;
		background-size: 300px 300px;
		position: absolute;
		right: 14%;
		top: -220%;
		z-index: 1030;
	}

	.img-header-contact:after {
		display: inline-block;
		height: 200px;
		width: 200px;
		margin-right: 5px;
		content: "";
		background: url(../images/label-header-3.png) no-repeat 0 0;
		background-size: 200px 200px;
		position: absolute;
		right: 61%;
		top: -317%;
		z-index: 1030;
	}


	img.img-brand-about-us.pull-right {
		width: 247%;
		position: relative;
		top: 48%;
	}

	.title-about-us {
		font-size: 82px;
	}

	.img-header-about:after {
		display: inline-block;
		height: 200px;
		width: 200px;
		margin-right: 5px;
		content: "";
		background: url(../images/polvo-header.png) no-repeat 0 0;
		background-size: 200px 200px;
		position: absolute;
		right: 16%;
		top: -137%;
		z-index: 1030;
	}

	.about-us-left-img:after {
		display: inline-block;
		height: 300px;
		width: 300px;
		margin-right: 5px;
		content: "";
		background: url(../images/about-us-polvo-left.png) no-repeat 0 0;
		background-size: 300px 300px;
		position: absolute;
		left: -161%;
		top: -21%;
		z-index: -1;
	}

	.about-us-right-img:before {
		display: inline-block;
		height: 256px;
		width: 120px;
		margin-right: 5px;
		content: "";
		background: url(../images/about-us-polvo-right.png) no-repeat 0 0;
		background-size: 171px 300px;
		position: absolute;
		right: -8%;
		top: -51%;
		z-index: -1;
	}

	.title-private-label-page {
		font-size: 82px;
		line-height: 1;
	}

	a.btn.btn-blue.btn-round {
		border: 2px solid;
		width: 100%;
		text-align: center;
		padding: 9px 4px;
		margin-top: 38%;
	}

	.number-step:nth-child(n+2):nth-child(-n+4) {
		margin-left: 1%;
	}

	.carousel-item.active {
		min-height: 166px !important;
	}

	img.logo-footer {
		width: 280px;
		padding: 44px;
	}

	.logo-certifications-footer {
		width: 350px;
		padding: 44px;
	}

	h2.extrabold.font-75 {
		font-size: 50px !important;
	}

	.product-gallery h3 {
		width: 120px;
		font-size: 23px;
		font-weight: 800;
	}

	.controls-slide {
		position: absolute;
		width: 12%;
		right: 8%;
		top: 71%;
		padding: -1%;
		z-index: 20;
	}

	h1.main-color.font-75.black {
		font-size: 75px !important;
	}

	h2.extrabold.font-100.pl-md-5 {
		font-size: 74px !important;
	}

	.icon-logo-header {
		width: 80px;
	}

	.message h3 {
		color: white;
		z-index: 20;
		font-size: 40px;
		max-width: 80%;
		line-height: 1;
	}
}

@media (max-width: 425px) {

	.number-step:nth-child(n+1):nth-child(-n+4) {
		margin-left: 19%;
		margin-right: -5%;
	}

	h3.title-54.f-300.text-center.mb-4 {
		font-size: 38px !important;
	}

	.title-54 {
		font-size: 38px !important;
	}

	img.p-5.img-private-label {
		position: absolute;
		top: -33px;
		width: 445px;
		left: -55px;
	}

	.container-slider {
		margin-top: 32%;
	}

	#carousel-selector-2::before {
		display: block;
		content: "";
		width: 60px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 18%;
		left: 163px;
		pointer-events: none;
	}

	#carousel-selector-3::before {
		display: block;
		content: "";
		width: 47px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 18%;
		left: 263px;
		pointer-events: none;
	}

	#carousel-selector-4::before {
		display: block;
		content: "";
		width: 46px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 18%;
		left: 348px;
		pointer-events: none;
	}

	h5.white.pb-4.pl-3 {
		text-align: center;
	}

	.box-category h5 {
		position: relative;
		padding: 2%;
		bottom: -56%;
		color: white;
		font-size: 25px;
		font-weight: 700;
	}

	p.content-p.white.col-md-10.col-sm-12 {
		min-height: 250px;
		padding: 11%;
		text-align: center;
	}

	.descrition-step {
		margin-top: 15px;
		color: #ffffff85;
		font-size: 12px;
		width: 93px;
	}

	.movil-p {
		padding: 8% !important;
	}

	.img-altalena {
		width: 100%;
		position: relative;
		top: 84%;
	}

	.content-principal-home {
		margin-top: -215px;
	}

	text-header h3 {
		font-size: 29px;
		color: white;
		font-weight: 300;
		line-height: .9;
	}

	.title-omg-brands-home {
		font-size: 42px;
		font-weight: 300;
	}

	.title-omg-brands-home b {
		font-size: 42px;
		font-weight: 600;
	}

	.text-header h3 {
		font-size: 40px;
		color: white;
		font-weight: 300;
		line-height: .9;
	}

	ul#menu-menu-principal-2 {
		display: block;
	}

	.col-12.border-bottom-black {
		padding-right: 3rem;
	}

	.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
		content: "\f0c9";
		color: black;
	}

	.icon-logo-header {
		width: 100px;
		margin-left: 10px;
	}

	.title-private-label {
		font-size: 42px;
	}

	.meet-omg-title {
		font-size: 43px;
		font-weight: 300;
		line-height: .9;
		padding-bottom: 10px;
	}

	.nav-link {
		display: block;
		padding: .2rem 1rem;
	}

	.certfications-elem {
		margin-top: 20px;
		margin-bottom: 22px;
	}

	.form-contact-container {
		margin-top: -1000px;
		padding-bottom: 70px;
	}

	.img-polvo {
		margin-top: -270px;
	}

	.container-404 {
		padding-top: 85%;
	}

	.message h3 {
		color: white;
		z-index: 20;
		font-size: 35px;
		max-width: 80%;
		padding-left: 5%;
		line-height: 1;
	}

	.col-125 {
		width: 50%;
	}

	h3.bold.text-left.title-product-box {
		font-size: 16px;
		max-width: 42%;
	}

	.img.logo-certifications-footer {
		max-width: 350px;
		text-align: center;
	}

	.logo-footer {
		width: 200px !important;
		text-align: center;
	}

	h2.extrabold.font-75 {
		font-size: 52px !important;
	}

	.col-md-4.text-white {
		text-align: center;
	}

	.navigation-clean {
		padding-top: 1rem;
		padding-bottom: 1rem;
		-webkit-box-shadow: 3px 9px 17px -9px rgba(0, 0, 0, 0.45);
		-moz-box-shadow: 3px 9px 17px -9px rgba(0, 0, 0, 0.45);
		box-shadow: 3px 9px 17px -9px rgba(0, 0, 0, 0.45);
	}

	.bg-green > .col-8 {
		width: 100%;
	}

	.btn-primary {
		padding: 16px !important;
		margin: auto !important;
	}

	.col-12.newsletters h2 {
		font-size: 60px !important;
	}

	.header-bg h2.extrabold.font-100 {
		font-size: 80px !important;
	}

	.header-bg h3.light.font-40 {
		font-size: 30px !important;
	}

	.cat-gallery {
		height: 200px;
	}

	img.logo-header-slide {
		max-width: 300px;
		padding-top: 61px;
	}

	img.d-block.w-100.cover {
		width: 100% !important;
		height: 420px;
		object-fit: cover;
	}

	.controls-slide {
		position: absolute;
		width: 22%;
		right: 4%;
		top: 59%;
		padding: -1%;
		z-index: 20;
	}

	.product-gallery h3 {
		width: 120px;
		font-size: 28px;
		font-weight: 800;
	}

	.col.text-center.welcome-message {
		margin-top: -100px;
		padding: 5%;
	}

	.col-10.clients-say.slick-initialized.slick-slider {
		height: 350px;
	}

	a.carousel-control-prev.slick-control-prev.slick-arrow {
		left: 190px !important;
		margin-top: 55px;
	}

	a.carousel-control-next.slick-control-next.slick-arrow {
		margin-top: 55px;
		margin-right: 5%;
	}

	.title-client-say {
		text-align: center;
	}

	.title-client-say h1 {
		font-size: 50px !important;
		padding-bottom: 50px;
	}

	ul#menu-menu-principal-1 {
		text-align: center !important;
		display: contents;
		padding: 4%;
	}

	div#bs-example-navbar-collapse-1 {
		width: 100%;
	}

	li.nav-item.right.text-right {
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 20px;
	}

	ul#menu-menu-principal li a,
	ul#menu-menu-principal li a i {
		color: #121212 !important;
	}

	.navigation-clean.navbar .navbar-nav .nav-link {
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 35px;
	}

	.last-news-title {
		position: relative;
		z-index: 2;
		color: white;
		margin-top: 167%;
		font-weight: 800;
		font-size: 24px;
		width: 67%;
		margin-left: 38px;
		margin-right: auto;
		line-height: 1;
		transition: 0.3s;
	}

	.last-news-description {
		line-height: 1.9;
	}

	img.img-brand-about-us.pull-right {
		width: 95%;
		position: relative;
		top: -22%;
		left: -5%;
	}

	.about-us-right-img:before {
		right: -1%;
	}

	.img-header-about:after {
		display: inline-block;
		height: 200px;
		width: 200px;
		margin-right: 5px;
		content: "";
		background: url(../images/polvo-header.png) no-repeat 0 0;
		background-size: 200px 200px;
		position: absolute;
		right: 16%;
		top: -237%;
		z-index: 1030;
	}

	.title-about-us {
		font-size: 52px;
		margin-top: 69px;
		padding-left: 5%;
	}

	.col-ajust {
		width: 100% !important;
	}

	.sticky-buttons {
		display: none;
	}

	.title-54 {
		font-size: 36px;
	}

	.number-step:nth-child(n+2):nth-child(-n+4) {
		margin-left: 3%;
	}

	th {
		font-size: 12px;
	}

	td {
		font-size: 12px;
	}

	.fa-circle:before {
		content: "\f111";
		font-size: 11px;
	}

	.title-private-label-page {
		font-size: 52px;
		line-height: 1;
		margin-top: 55px;
		padding-left: 4%;
	}

	.img-header-private:after {
		top: -299%;
	}

	img.img-circle.circle-1 {
		margin-top: 50px;
	}

	.nav.nav-footer {
		/* padding-left: 0; */
		/* padding-right: 0; */
		/* margin-left: -15px; */
		width: 100%;
		margin: 0 auto;
	}

	p.content-p.white.text-justify.px-5.consumer-text {
		width: 100%;
		padding: 0px !important;
	}

	p.content-p.p-3 {
		position: relative;
		bottom: -41px !important;
	}

	img.logo-footer {
		width: 384px;
		padding: 21px;
	}

	.footer-bg {
		height: 110px;
		background-position-y: bottom;
	}

	.logo-certifications-footer {
		width: 260px;
		padding: 44px;
	}


	.box-category h5 {
		padding-left: 34%;
		padding-right: 34%;
	}

	h2.extrabold.font-100.pl-md-5 {
		font-size: 57px !important;
	}

	.certifications-img {
		width: 100%;
	}

	table {
		display: block;
		overflow-x: auto;
	}

	img.img-paking {
		height: 90%;
		padding-bottom: 3%;
	}

	.col-md-4.text-white {
		padding-top: 30%;
	}

	h1.main-color.font-75.black {
		font-size: 42px !important;
	}

	h1.main-color.font-60.black {
		font-size: 42px !important;
	}

	.product-box-img {
		border: 1px solid #c5c5c5;
		/*padding: 10px;*/
		min-height: 350px;
		max-height: 350px;
		display: flex;
		margin-bottom: 10%;
	}

	.presentation-available {
		max-width: 25% !important;
	}

	.subtitle-result-search {
		padding-left: -1%;
		font-weight: 300;
		font-size: 15px;
	}

	button.btn.btn-primary.btn-round.right.btn-search {
		margin-top: 4%;
	}

	.icon-logo-header {
		width: 80px;
	}

	h2.extrabold.font-100.title-contact {
		font-size: 50px !important;
	}

	h3.light.font-40.subtitle-contact {
		font-size: 22px !important;
	}

	h4.light.font-28.direction-contact {
		font-size: 17px !important;
	}

	p.light.font-28.email-contact a {
		font-size: 17px !important;
	}

	.header-bg {
		background-position: center;
		min-height: 470px;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: normal;
	}

	.card-awesome {
		width: 100%;
		padding: 0px !important;
	}

	.form-contact-container {
		padding: 0px;
	}

	p.text-center.font-22.bold.subtitle-newsletter {
		max-width: 80%;
		margin: 0 auto;
	}

	.input-news {
		border-radius: 100px;
		padding: 25px;
		font-size: 14px;
		margin-bottom: 20px;
	}

	.menu-item {
		text-align: center;
		text-transform: uppercase;
	}

	ul.nav.navbar-nav.ml-auto.navbar-black {
		display: contents;
		text-align: center;
	}

	ul.nav.navbar-nav.ml-auto.navbar-black i {
		color: white;
	}

	.zoom:hover button,
	.zoom:focus button
	.zoom:active button {

	}

	div#wpcf7-f156-o1 {
		width: 100%;
		margin-left: 0%;
	}

	.container-data-product {
		padding-left: 1rem !important;
	}

	.form-search-page {
		min-height: 250px;
		padding: 5%;
		padding-top: 7%;
	}

	.input-404-search {
		background: transparent !important;
		margin-bottom: 15px;
	}

	button.btn.btn-primary.btn-round.right.btn-search {
		margin-top: -57px;
		padding: 18px;
		width: 100%;
	}

	img.pt-4.pl-4 {
		margin-bottom: 11%;
	}

	ul.controls-slider {
		margin-left: -60px;
		padding-top: 5%;
	}

	.place.row {
		padding: 14%;
	}

	.col-md-10.text-contact {
		margin-left: 10%;
	}

	i.fa.fa-map-marker.font-30 {
		position: relative;
		top: 108%;
	}

	i.fa.fa-volume-control-phone.font-30 {
		position: relative;
		top: 99%;
	}
}

@media (max-width: 375px) {

	.controls-slider {
		margin-left: -78px;
		margin-top: 20px;
		text-align: center;
		position: relative;
	}

	a.carousel-control-prev.slick-control-prev.slick-arrow {
		left: 170px !important;
		margin-top: 55px;
	}

	a.carousel-control-next.slick-control-next.slick-arrow {
		margin-top: 55px;
		margin-right: 5%;
	}

	.clients-say {
		min-height: 300px !important;
	}

	.input-404-search {
		background: transparent !important;
		margin-bottom: 15px;
	}

	div#wpcf7-f156-o1 {
		width: 100%;
		margin-left: 0%;
	}

	.container-data-product {
		padding-left: 1rem !important;
	}

	.form-search-page {
		min-height: 250px;
		padding: 5%;
		padding-top: 7%;
	}

	button.btn.btn-primary.btn-round.right.btn-search {
		margin-top: -57px;
		padding: 18px;
		width: 100%;
	}

	img.p-5.img-private-label {
		position: absolute;
		top: -33px;
		width: 382px;
		left: -55px;
	}

	.col-12.border-bottom-black {
		padding-right: 4rem;
	}

	.box-category h5 {
		font-size: 27px;
	}

	.pointer-ball {
		margin-left: -60%;
	}

}

@media (max-width: 320px) {

	.descrition-step {
		margin-top: 15px;
		color: #ffffff85;
		font-size: 12px;
		width: 85px;
	}

	.p-5.col-12.mb-0.text-white.text-center.pb-5 {
		padding: 8%!important;
		width: 77%;
	}

	#carousel-selector-2::before {
		display: block;
		content: "";
		width: 42px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 13%;
		left: 163px;
		pointer-events: none;
	}

	#carousel-selector-3::before {
		display: block;
		content: "";
		width: 39px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 13%;
		left: 245px;
		pointer-events: none;
	}

	#carousel-selector-4::before {
		display: block;
		content: "";
		width: 39px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 13%;
		left: 324px;
		pointer-events: none;
	}

	.pointer-ball {
		margin-left: -68%;
	}

	h3.title-54.f-300.text-center.mb-4 {
		font-size: 30px !important;
	}

	.container-data-product {
		padding-left: 1rem !important;
	}

	.input-404-search {
		background: transparent !important;
		margin-bottom: 15px;
	}

	div#wpcf7-f156-o1 {
		width: 100%;
		margin-left: 0%;
	}

	.controls-slider {
		/* margin: 5% 5%; */
		margin-left: -98px;
		margin-top: 20px;
		text-align: center;
		position: relative;
	}

	.form-contact-container {
		padding: 0px;
	}

	.title-54 {
		font-size: 30px;
	}

	.certifications-img {
		width: 130%;
		margin-left: -15%;
	}

	p.content-p.white.text-justify.px-5.consumer-text {
		width: 155%;
		text-align: left !important;
		margin-left: -10px;
		padding: 0px !important;
	}

	.text-404 {
		font-size: 150px;
		position: absolute;
		color: #6ea525;
		font-weight: 700;
		top: 13%;
		left: 8%;
		z-index: 0;
	}

	.card-awesome {
		width: 100%;
		padding: 0px !important;
	}

	.form-contact-container {
		margin-top: -1100px;
		padding-bottom: 70px;
		padding-top: 70px;
	}

	.img-polvo {
		margin-top: -255px;
	}

	.controls-slide {
		position: absolute;
		width: 30%;
		right: 4%;
		top: 54%;
		padding: -1%;
		z-index: 20;
	}

	.container-404 {
		padding-top: 90%;
	}

	.icon-logo-header {
		width: 60px;
	}

	.form-search-page {
		min-height: 250px;
		padding: 5%;
		padding-top: 7%;
	}

	h2.extrabold.font-75 {
		font-size: 43px !important;
	}

	h1.main-color.font-75.black {
		font-size: 58px !important;
	}

	h2.extrabold.font-100.pl-md-5 {
		font-size: 50px !important;
	}

	.col-10.clients-say.slick-initialized.slick-slider {
		height: 400px;
	}

	a.carousel-control-prev.slick-control-prev.slick-arrow {
		left: 120px !important;
		margin-top: 50%;
	}

	a.carousel-control-next.slick-control-next.slick-arrow {
		margin-top: 51%;
		margin-right: 9%;
	}

	h1.main-color.font-75.black {
		font-size: 42px !important;
	}

	h1.main-color.font-60.black {
		font-size: 42px !important;
	}

	.clients-say {
		min-height: 350px !important;
	}

	button.btn.btn-primary.btn-round.right.btn-search {
		margin-top: -57px;
		padding: 18px;
		width: 100%;
	}

	img.p-5.img-private-label {
		position: absolute;
		top: -33px;
		width: 340px;
		left: -55px;
	}

	.last-news-title {
		margin-top: 176%;
	}

	.col-md-7.px-5.content-product-img {
		padding: 0em !important;
	}

	.box-category h5 {
		padding-left: 33%;
		padding-right: 33%;
	}
}









